@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  /* components/image-slideshow/image-slideshow.js */
  .slideshow {
    @apply relative w-full h-full overflow-hidden shadow-[0_0_0.5rem_rgba(0,0,0,0.5)] rounded-lg;
  }
  .slideshow img {
    @apply w-full h-full object-cover absolute opacity-0 translate-x-[-1rem] rotate-[-5deg] transition-all duration-[0.5s] ease-[ease-in-out] scale-110 left-0 top-0;
  }
  .slideshow .active {
    @apply z-[1] opacity-100 translate-x-0 rotate-[0] scale-100;
  }
  /* end components/image-slideshow/image-slideshow.js */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
